<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tenders_management"
              name="Tenders"
              sequence="10"/>

    <menuitem id="menu_tenders_master"
              name="Tenders"
              parent="menu_tenders_management"
              sequence="0"/>
</odoo>