<?xml version="1.0" encoding="utf-8"?>
<odoo>
<!--menu item called Hospital-->
    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/hospital.png"
              sequence="0"/>
<!--menu item called Patient Details -->
    <menuitem id="menu_patient_master"
              name="Patient Detail"
              parent="menu_hospital_root"
              sequence="0"/>

    <!--    menu item called appointment-->
    <menuitem id="menu_appointment_master"
              name="Appointment"
              parent="menu_hospital_root"
              sequence="11"/>

</odoo>
